{
    "presets" : [
        ["env", { 
            "targets": {
                "browsers": [
                    "ie > 11"
                ]
            }
        }],
        "react",
        "stage-3"],
    "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        "babel-plugin-styled-components",
        "babel-plugin-transform-regenerator"
    ]
}