{
    "presets" : [
        ["@babel/preset-env", { 
            "targets": {
                "browsers": [
                    "ie > 11"
                ]
            }
        }],
        "@babel/preset-react",
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        "babel-plugin-styled-components",
        "babel-plugin-transform-regenerator"
    ]
}