{
  "extends": "airbnb",
  "globals": {
    "alert": true,
    "document": true,
    "navigator": true,
    "localStorage": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src"
        ]
      }
    }
  }
}